body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

#buttons {
    padding: 20px;
    display: flex;
    gap: 25px;
}

button {
    width: 75px;
    height: 75px;
}